* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 12px solid #1d1e4c;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
  }

  h4 {
    font-size: 24px;
    text-align: end;
  }
}

.image_container,
img {
  width: 300px;
  border-radius: 50%;
}

.about {
  margin-top: 50px;

  h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
  }
}

.biography {
  margin: 50px 0px;

  h3 {
    margin-bottom: 20px;
  }

  ul {
    margin-left: 50px;
  }

  li {
    margin-bottom: 15px;
  }
}

footer {
  margin: 50px 0px;

  p {
    text-align: end;
  }
}
